@model IEnumerable<ContosoSite.Models.DT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tatol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.years)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AREA.areaname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeName.typename1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tatol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.years)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AREA.areaname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeName.typename1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DTID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DTID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DTID })
        </td>
    </tr>
}

</table>
