@model ContosoSite.Models.TypeName

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TypeName</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.typename1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typename1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parentid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parentid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TypeNameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
